

#propertable {
    border-collapse: collapse;
    text-align: center;
    background-color: grey;
    margin: 0px 20vw;
}

#propertable, th, td{
    border: 3px solid black;
    border-spacing: 0px;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(62, 166, 214);
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

}

#propertable th {
    background-color: rgb(255, 255, 255);
}


h1 {
    text-align: center;
    font-size: xx-large;
    color: black;
    border: 5px solid black;
    padding: 10px;
    border-radius: 10px;
    background-color: cyan;
}
#propertable .am1{
    background-color: #752dd2;
}
#propertable .am2{
    background-color: #a3418c;
}


#propertable .pm {
    background-color: rgb(221, 52, 0);
}



.easy { 
    background-color:  green; 
} 

.medium { 
    background-color: orange; 
} 

.hard { 
    background-color: red; 
} 



.mon {
    background-color: #68d488;
}
.tue {
    background-color: #2ed3c6;
}
.wed {
    background-color: #688bd1;
}

tr:hover {
    filter: brightness(150%);
    backdrop-filter: brightness(150%);

}


#secondarytable th {
    background-color: rgb(255, 255, 255);
}


#secondarytable {
    margin-top: 50px;
    border-collapse: collapse;
    text-align: center;
    background-color: grey;
}