<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Template 2</title>
        <link rel="stylesheet" href="style.css">
    </head>

    
    
    <body>
    <header>
        <!-- Sidebar nav -->
        <div class="logo"><h1>logo</h1></div>

    </header>
    <nav>
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
    </nav>
    <main>
        
    </main>
    
    
    <footer>
        <!-- Bigfooter -->
         <h2>Copyright notice</h2>
         <ul>
            <li><a href="#">Youtube</a></li>
            <li><a href="#">Instagram</a></li>
            <li><a href="#">Twitter</a></li>
         </ul>
    </footer>
    </body>
    

</html>
