<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Template 4</title>
        <link rel="stylesheet" href="style.css">
        <link javascript" src="script.js"></script>
    </head>

    
    
    <body>
    <header>
        <!-- Classic horizontal -->
        <div class="logo"><h1>logo</h1></div>

    </header>
    <nav>
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li>
                <div class="dropdown">
                    <button onclick="servicedown()" class="dropbtn">Services</button>
                    <div id="servicedropdown" class="dropdown-content">
                        <a href="#">Services</a>>
                        <a href="#">Services</a>
                        <a href="#">Services</a>
                    </div>
                </div>
            </li>
            <li><a href="#">Contact</a></li>
        </ul>
    </nav>
    <main>
        <img src="image/1.jpg" alt="Banner Image">
        <div id="overlay"></div>
    </main>
    
    
    <footer>
        <!-- Multicolumn -->
         <div>
            <h3>About</h3>
         </div>
         <div>
            <h3>Quick links</h3>

         </div>
        <div>
            <h3>Contact</h3>
        </div>
        <div>
            <h3>Social</h3>
        </div>
    </footer>
    </body>
    

</html>
