

table {
    border: 3px solid black;
    border-spacing: 0px;
    background-color: cadetblue;
}

table td {
    text-align: center;
    border: 3px solid black;
}
table th {
    text-align: center;
    border: 3px solid black;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(62, 166, 214);
}


.stuff {
    background-color: rgb(91, 255, 91);
}


.am {
    background-color: yellow;
}


.pm {
    background-color: rgb(255, 153, 36);
}

h1 {
    text-align: center;
    font-size: xx-large;
    color: black;
    border: 5px solid black;
    padding: 10px;
    border-radius: 10px;
}