

table {
    border: 3px solid black;
    border-spacing: 0px;
}

table td {
    text-align: center;
    border: 3px solid black;
}
table th {
    text-align: center;
    border: 3px solid black;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}


.stuff {
    background-color: rgb(91, 255, 91);
}


.am {
    background-color: yellow;
}


.pm {
    background-color: rgb(255, 153, 36);
}